/* IMPORTANT REMARKS: 
- Footer contact elements to include the :before pseudo-class for the right icons placement. 
- For images, consider ruleset for scaling images and videos from the board.
- Adjust the linear gradient when ready so it doesn't reach the header background image. */

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top,rgba(255, 248, 20, 0.8) 55%, white, white, white);
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    max-width: 1920px;
}

a:visited {
    color: blue;
}

.navbar {
    top: -3rem;
}

nav {
    max-width: 60%;
    font-size: 1.6rem;
    left: 20%;
}

.navbar,
nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li a {
    max-width: 25%;
}

nav ul li a p {
    padding: 20px;
    height: 100%;
}

nav ul li a p:active {
    box-shadow: 0 10px 10px black;
}

nav ul,
nav ul li a p,
nav ul li a p:active {
    border-radius: 10px 10px 40px 40px;
}

nav ul li a,
nav ul li a p {
    color: rgba(255, 255, 255, 1);
}

nav ul,
nav ul li a p:active {
    background-color: rgba(0, 77, 230, 1);
}

nav ul li a,
.contact a,
.footer-nav ul li a {
    text-decoration: none;
}

.navbar,
.container {
    max-width: 70%;
}

footer {
    background: linear-gradient(to bottom, rgba(105, 181, 255, 1) 5%, white, white);
    padding: 40px 0;
}

nav ul li,
nav ul li a,
.container {
    text-align: center;
}

.container h1 {
    font-size: 3rem;
}

body,
.container,
.container .contact {
    margin: 0 auto;
}

.container .contact p::before {
    content: "";
    display: inline-block;
    margin-right: 0.75rem;
    width: 56px;
    height: 56px;
}

.container .contact p {
    display: flex;
    align-items: center;
    font-size: 2.6rem;
}

nav ul li a p,
nav ul,
.container .contact p {
    margin: 0;
}

/* The size of the .svg file can be easily controlled setting the background-size parameter. */
.container .contact p.tel::before {     
    background-image: url(img/phone.svg);
}

.container .contact p.email::before {
    background-image: url(img/email.svg);
}

.container .contact p.form::before {
    background-image: url(img/form.svg);
}

.container .contact p.tel::before,
.container .contact p.email::before,
.container .contact p.form::before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.contact a {
    color: rgba(0, 0, 0, 1);
    padding: 9px 0;
}

.footer-nav ul {
    list-style-type: none;
    padding-left: 0;
    max-width: 50%;
    margin: 40px auto;
}

.container .contact,
.footer-nav ul {
    display: flex;
    justify-content: space-between;
}

.footer-nav ul li a {
    color: rgba(0, 0, 0, 1);
}

p,
span,
.footer-nav ul li a {
    font-size: 1.1rem;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 80px;
}

.contact-form {
    max-width: 43%;
    margin: 0 auto 40px auto;
}

.navbar,
nav,
nav ul li,
nav ul li a,
.container,
.container .contact,
.footer-nav ul,
.contact-form {
    width: 100%;
}

.contact-form a {
    display: inline-block;
    width: 70px;
    height: 70px;
}

.contact-form img {
    width: 70px;
    height: 70px;
}

form {
    font-size: 1.4rem;
}

nav ul,
.contact-form,
form {
    display: flex;
    justify-content: center;
}

.contact-form,
form {
    flex-direction: column;
}

label,
input,
select,
textarea {
    margin-bottom: 5px;
    padding: 5px 0;
}

select {
    width: 30%;
}

#submit {
    background-color: rgba(0, 77, 230, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 0;
    width: 200px;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Urbanist", sans-serif;
}

#submit:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 77, 230, 1);
    box-shadow: 10px 10px 10px black;
}

#submit,
#submit:active {
    border-radius: 20px;
}

@media only screen and (max-width: 1485px) {

    .container .contact {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container .contact p {
        margin: 10px 0;
    }

    .contact-form {
        max-width: 55%;
    }
}

@media only screen and (max-width: 1279px) {

    .contact-form {
        max-width: 50%;
    }

    select {
        width: 40%;
    }
}

@media only screen and (min-width: 940px) and (max-width: 1825px) {

    .container .contact p {
        font-size: 2rem;
    }

    .container .contact p.tel::before,
    .container .contact p.email::before,
    .container .contact p.form::before {
        background-size: 80%;
    }
}

@media only screen and (min-width: 940px) and (max-width: 1485px) {

    body {
        background: linear-gradient(to top,rgba(255, 248, 20, 0.8) 55%, white, white);
    }

    .footer-nav {
        margin-top: 40px;
    }

    .footer-nav ul {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 940px) and (max-width: 1279px) {

    body {
        background: linear-gradient(to top,rgba(255, 248, 20, 0.8) 60%, white, white);
    }

    .contact-form {
        max-width: 55%;
    }
}

@media only screen and (max-width: 939px) {

    select {
        width: 55%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 939px) {

    body {
        background: linear-gradient(to top,rgba(255, 248, 20, 0.8) 65%, white, white);
    }

    .navbar {
        top: -3rem;
    }

    nav ul li a p {
        font-size: .9rem;
    }

    .container {
        max-width: 100%;
    }

    .container .contact p {
        font-size: 1.5rem;
    }

    .container .contact p.tel::before,
    .container .contact p.email::before,
    .container .contact p.form::before {
        background-size: 60%;
    }

    nav,
    .footer-nav ul {
        max-width: 70%;
    }

    .footer-nav ul li a {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 719px) {

    body {
        background: linear-gradient(to top,rgba(255, 248, 20, 0.8) 70%, white, white);
    }

    header img {
        margin: 0;
    }
    
    .navbar  {
        margin: 8.75% auto 0 auto;
    }

    nav {
        width: 100%;
        left: 0;
        margin: 0 auto;
    }

    nav ul {
        background-color: transparent;
        display: block;
        border-radius: 0;
    }

    nav ul li {
        background-color: rgba(0, 77, 230, 1);
        margin: 5px;
        border-radius: 10px;
    }

    nav ul li a p {
        font-size: 1.2rem;
        padding: 15px 30px;
        border: 2px solid transparent;
    }

    nav ul li a p:active {
        background-color: rgba(255, 255, 255, 1);
        color: rgba(0, 77, 230, 1);
        border-radius: 10px;
        border: 2px solid black;
    }

    nav {
        max-width: 90%;
    }

    nav ul li a p:active {
        box-shadow: none;
    }

    .container .contact p {
        font-size: 1.5rem;
    }

    .container .contact p.tel::before,
    .container .contact p.email::before,
    .container .contact p.form::before {
        background-size: 60%;
    }

    .contact-form {
        max-width: 80%;
    }

    #submit:active {
        box-shadow: none;
        border: 2px solid black;
    }
}

@media only screen and (min-width: 600px) and (max-width: 719px) {

    .container {
        max-width: 100%;
    }

    .container h1,
    .container p {
        margin: 20px auto;
    }

    .container h1,
    .container p,
    .footer-nav ul {
        max-width: 90%;
    }

    .footer-nav ul li a {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 600px) {

    header img#desktop {
        width: 100%;
        margin: 0;
        height: 70%;
    }

    header img#mobile {
        display: none;
    }
}

@media only screen and (max-width: 599px) {

    header img#desktop {
        display: none;
    }

    header img#mobile {
        width: 100%;
    }

    .container h1 {
        font-size: 1.7rem;
    }

    .container h1,
    .container p {
        margin: 20px auto;
    }

    .container h1,
    .container p {
        max-width: 90%;
    }

    .container .contact {
        align-items: flex-start;
    }

    .container .contact p {
        font-size: 1.3rem;
        margin: 0;
    }

    .container .contact p.tel::before,
    .container .contact p.email::before,
    .container .contact p.form::before {
        background-size: 50%;
    }

    .container {
        max-width: 100%;
    }

    .footer-nav ul {
        display: block;
        line-height: 3em;
        margin-left: 20px;
        justify-content: flex-start;
    }

    .footer-nav ul li {
        text-align: left;
    }

    .footer-nav ul li a {
        font-size: 1rem;
    }

    .copyright {
        margin-top: 40px;
    }

    .contact-form a {
        margin: 0 auto;
    }

    .contact-form a,
    .contact-form img {
        width: 40px;
        height: 40px;
    }

    form {
        font-size: .9rem;
    }
}